{% extends 'base.html' %}
{% from "components/macros.html" import form_errors %}

{% block title %}Add art{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h1>Add art</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group" hidden>
                {{ form.artist_pk.label }}
                {{ form.artist_pk }}

                {{ form_errors(form.artist_pk.errors) }}
            </div>

            <div class="form-group">
                {{ form.title.label }}
                {{ form.title }}

                {{ form_errors(form.title.errors) }}
            </div>

            <div class="form-group">
                {{ form.medium.label }}
                {{ form.medium }}

                {{ form_errors(form.medium.errors) }}
            </div>

            <div class="form-group">
                {{ form.price.label }}
                {{ form.price }}

                {{ form_errors(form.price.errors) }}
            </div>

            <div class="form-group">
                {{ form.descrip.label }}
                {{ form.descrip }}

                {{ form_errors(form.descrip.errors) }}
            </div>

            <div class="form-group">
                {{ form.image.label }}
                {{ form.image }}

                {{ form_errors(form.image.errors) }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn--full") }}
            </div>
        </form>
    </section>
{% endblock %}