{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_art_form, art_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/art.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>View your art</h2>
    <!--{{ filter_art_form(form=form, sold_by=False) }}-->
    <div class="art">
    {% if art|length %}
        {% for product in art %}
            {{ art_card(product=product, show_checkout=False) }}
        {% endfor %}
    {% else %}
        <h3 class="text--gray">No art to show at the moment.</h3>
    {% endif %}
    </div>
{% endblock %}