{% macro cta_button (class='') %}
    <a class="btn {{ class }}" href="{{ url_for('Art.art') }}">
        <span>
            <img src="{{ url_for('static', filename='images/icons/cart.svg') }}" alt="cart" class="icon">
            Start browsing
        </span>
    </a>
{% endmacro %}


{% macro form_errors (errors=[]) %}
    {% for error in errors %}
        <span class="text--red">{{ error }}</span>
    {% endfor %}
{% endmacro %}


{% macro select_field (name='', choices=[]) %}
    <select name="{{ name }}" id="{{ name }}" aria-label="{{ name }}">
        <option value=null selected disabled>Choose an option...</option>
        {% for choice in choices %}
            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
        {{ form.medium.options }}
    </select>
{% endmacro %}


{% macro filter_art_form (form=None, sold_by=True) %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form--row">
            <div class="form-group">
                {{ form.medium.label }}
                {{ form.medium }}
            </div>
        </div>

        <div class="form--row">
            {% if sold_by %}
                <div class="form-group">
                    {{ form.sold_by.label }}
                    {{ form.sold_by }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form.price.label }}
                {{ form.price }}
            </div>

            {{ form.submit(class="btn") }}
            <a href="{{ url_for('Art.art') }}" class="btn">Clear filters</a>
        </div>
    </form>
{% endmacro %}


{% macro art_card (product=None, show_checkout=True, date=None) %}
    <div class="card">
        <div class="card__info">
            <img src="data:image/png;base64, {{ product.picture }}" alt="Picture could not load" />
            <p>Title: {{ product.title  }}</p>
            <p>Medium: {{ product.medium|format_data }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Description: {{ product.descrip  }}</p>
            {% if product.available %}
                <a href="{{ url_for('Art.buy_art', pk=product.art_pk) }}">Buy</a>
            {% else %}
                <a style="color: crimson;">Sold</a>
            {% endif %}
        </div>
    </div>
{% endmacro %}