{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_art_form, art_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/art.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>All art</h2>
    <div class="art">
        {% if art %}
            {% for product in art %}
                {{ art_card(product=product, current_user=current_user) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                There is currently no art.
            </h3>
        {% endif %}
    </div>
{% endblock %}